<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.myblog.dao.UserMapper">
    <select id="getUser" resultType="user">
        select * from user where userName = #{userName} and password = #{password}
    </select>

    <select id="getBlogs" resultType="user_blogs">
        SELECT blog_id,blog_title,blog_content, DATE_FORMAT(blog_date,'%m-%d-%Y') AS blog_date,blog_writer,blog_remarks FROM user_blogs LIMIT #{startId},#{endId}
    </select>
    <select id="getBlogById" resultType="user_blogs">
        SELECT blog_id,blog_title,blog_content, DATE_FORMAT(blog_date,'%m-%d-%Y') AS blog_date,blog_writer,blog_remarks FROM user_blogs WHERE blog_id =#{blog_id}
    </select>
    <select id="selectBlogCounts" resultType="int">
       SELECT COUNT(*) FROM user_blogs
    </select>
    <insert id="addBlog" parameterType="user_blogs">
INSERT INTO user_blogs (blog_title,blog_content,blog_date,blog_writer,blog_remarks) VALUES (#{blog_title},#{blog_content},#{blog_date},#{blog_writer},#{blog_remarks})
    </insert>
    <update id="updateBlog" parameterType="user_blogs">
      UPDATE user_blogs SET blog_content =#{blog_content},blog_title=#{blog_title},blog_remarks=#{blog_remarks} WHERE blog_id=#{blog_id}

    </update>
</mapper>
